:root {
  --bg: #0b0c10;
  --card: #15171c;
  --text: #e6e6e6;
  --muted: #9aa3b2;
  --accent: #1db954; /* estilo Spotify */
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: system-ui, sans-serif;
  background: var(--bg);
  color: var(--text);
}
